

.formContainer {
  margin-bottom: 16px;

}

.inputField {
  padding: 8px;
  border: 1px solid #BF3604;
  border-radius: 4px;
  font-size: 16px;
}

.searchButton {
  margin-left: 15px;
  padding: 8px 16px;
  background-color: #BF3604;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
