
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

.navBar {
  background-color: #150926;
  padding: 12px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.navLink:hover {
  color: #BF3604;
}
